.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
  .dashboard {
    display: flex;
    &__menu {
      flex: 20%;
      background: #0e1a35;
      &__logo {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      &__navi{
        &_list {
          list-style-type: none;
          margin: 0;
          padding: 0;
          height: 100%;
          overflow: auto;
          &-items {
            &__link {
              display: block;
              color: #000;
              padding: 8px 16px;
              text-decoration: none;
              color: white;
              &:hover:not(.-active) {
                background-color: #555;
                color: white;
              }
            }
            &__active {
              background-color: #4CAF50;
              color: white;
            }
          }
        }
      }
    }
    &__content{
      position: relative;
      flex: 80%;
      padding: 10px;
      &_card {
        display: flex;
        justify-content: center;
        padding: 20px;
        &_form {
          padding: 10px;
          border: 1px solid grey;
          border-radius: 9px;
          display: flex;
          background-color: #71afbf21;
          transition: transform .5s ease;
          &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
              width: 210px;
              height: 200px;
              margin-right: 10px;
              border-radius: 9px;
            }
            p {
              font-weight: 600;
              margin: 5px 0;
              span {
                font-weight: 500;
              }
            }
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
