table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  tr {
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    &:nth-child(even) {
      background-color: #dddddd;
    }
    td {
      img {
        width: 60px;
        height: 50px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}